/* overlay-list.component.scss */

.success-message {
    color: green;
    margin-bottom: 16px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 16px;
  }
  
  /* Ajusta o tamanho do campo de formulário e botões */
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    margin-bottom: 16px;
  }
  
  /* Ajusta o contêiner da tabela e adiciona rolagem horizontal */
  .table-container {
    width: 1200px;
    max-width: 100%; /* Define a largura máxima do contêiner */
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    margin-top: 16px;
  }
  
  table {
    width: 100%; /* Faz com que a tabela use a largura disponível do contêiner */
    table-layout:auto; /* Define a largura das colunas */
    border-collapse: collapse; /* Remove espaços entre células */
  }
  
  /* Ajusta o layout em dispositivos móveis */
  @media (max-width: 600px) {
    .mat-form-field {
      font-size: 14px;
    }
  
    button {
      font-size: 16px;
      padding: 12px;
    }
  
    table {
      font-size: 14px;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f5f5f5;
  }
  